html
  head
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body
    div#root
    div React application above
    script(src="/dist/index_bundle.js")